body {
  height: auto;
}

.container-main {
  height: auto;
  width: 90%;
  align-items: center;
  /* background-color: aquamarine; */
  padding: 40px;
}

footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
