.container-main{
    width: 100%;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 40px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* font-size: 12px; */
    text-align: center;
}

.container-footer{
    color: beige;
    font-size: 2vh;
}